nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFF;
  padding: 0em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;


  /* position: sticky;
  top: unset; */
  /* width: max-content; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav span {
  font-family: Bungee;
  font-size: 50px;
  padding-top: 45px;
}

nav div {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div p {
  font-size: 25px;
  margin-bottom: 5px;
}

#double-arrow {
  color: red;
}

