form {
  display: flex;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0);
  padding: 1em;
}

/* tweet button and character count */
form div {
  display: flex;
  justify-content: space-between;
  font-family: Bungee;
  margin-top: 1rem;
}
label {
  font-weight: 600;
  font-size: 19px;
}

/* add classes */
button {
  background-color: #4056A1;
  color: #FFF;
  font-size: 20px;
  padding: 0.5rem;
}

textarea {
  border: none;
  border-bottom: 3px solid #545149;
  background-color: rgba(0, 0, 0, 0);
}

form div output .negative {
  color: red;
}

main section div.error-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section div.error-messages div {
  display: none;
  border: 3px solid red;
  color: red;
  font-weight: 600;
	margin: 10px auto;
	padding: 15px 30px 15px 15px;
}
